ScriptStory/ScriptStory/toolchain/build
ScriptStory/ScriptStory/toolchain/temp
ScriptStory/ScriptStory/toolchain/ndk
ScriptStory/ScriptStory/toolchain/adb
ScriptStory/ScriptStory/toolchain/bin
ScriptStory/ScriptStory/toolchain/python

ScriptStory/ScriptStory/output
ScriptStory/ScriptStory/.idea
ScriptStory/ScriptStory/.settings
**/__pycache__
**/tsconfig.jsons

*.bat
*.log
*.icmod
ScriptStory/ScriptStory/.vscode

