ScriptStory/toolchain/build
ScriptStory/toolchain/temp
ScriptStory/toolchain/ndk
ScriptStory/toolchain/adb
ScriptStory/toolchain/bin
ScriptStory/toolchain/python

ScriptStory/output
ScriptStory/idea
ScriptStory/settings
**/__pycache__
**/tsconfig.jsons

*.bat
*.log
*.icmod
ScriptStory/vscode

